@inherits LayoutComponentBase

<div>
    <Dealer.Client2.Pages.Menus.Navbar></Dealer.Client2.Pages.Menus.Navbar>
    <div class="container" >
@Body
    </div>

</div>
<CascadingBlazoredModal></CascadingBlazoredModal>